<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE configuration PUBLIC "-//mybatis.org//DTD Config 3.0//EN" "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>

	<!-- DB접속정보 값을 가지고 있는 파일 설정 -->
	<properties resource="dbinfo.properties" />

	<!-- Java Class에 대한 alias 지정 -->
	<typeAliases>									
		<typeAlias type="DT.vo.DTBoard" alias="board" />		
		<typeAlias type="DT.vo.DTUserInfo" alias="userinfo" />
		<typeAlias type="DT.vo.DTExercise" alias="exercise" />
		<typeAlias type="DT.vo.DTVO" alias="dtvo" />
	</typeAliases>
	
	<!-- DB접속 정보 셋팅 -->
	<environments default="development">
		<environment id="development">
			<transactionManager type="JDBC" />
			<dataSource type="POOLED">
				<property name="driver" value="${driver}" />
				<property name="url" value="${url}" />
				<property name="username" value="${username}" />
				<property name="password" value="${password}" />	<!-- "${}"를 이용해 db.properties에서 값을 불러옴 -->
			</dataSource>
		</environment>
	</environments>
	
	<!-- Mapper 파일 include -->
	<mappers>
		<mapper resource="DT.xml" />		<!-- 전체 환경설정이 들어가는 곳 -->
	</mappers>
	
</configuration>
